@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/*Main background color*/
body {
  background-color: burlywood;
}
/*Items in the cart should display more than one on the same line*/
.cartItems {
  display: flex;
}

/*All for the checkout buttons*/
.checkoutButton {
  align-items: center;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin-right: 4em;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}
.checkoutButton:hover,
.checkoutButton:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}
.checkoutButton:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}
.checkoutButton:active {
  background-color: #f0f0f1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}
/*Last of checkout buttons*/

/*Sizes the Back button image*/
.back {
  width: 5rem;
  margin-right: 10rem;
}

/*Container for Products(#) and checkout button image*/
.container {
  display: flex;
  justify-content: space-between;
}
/*Sizes the checkout button image*/

/*Add/subtract and filter buttons*/
.inline-block.bg-amber-600.rounded-full.px-3.py-1.text-sm.font-semibold.text-gray-700.mr-2.mt-2 {
  background-color: rgb(176, 136, 83);
  width: 70%;
}

/* These are for the footer */
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 10vh;
  text-align: center;
  padding-top: 15px;
  background-color: burlywood;
  transform: translateY(0);
  border-top: 2px solid black;
}

.footer.hidden {
  transform: translateY(100%);
}
.foot {
  font-weight: bold;
  font-size: 1.5rem;
  padding-top: 0px;
}
.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.link {
  background-color: bisque;
  padding: 0.75em;
  border-radius: 30%;
  transition: transform 0.5s ease-in-out;
}
.link:hover {
  transform: translateY(-20px);
  transition: transform 0.3s ease-in;
}
.link:not(:hover) {
  transform: translateY(0);
}
/*Last rule for footer*/

/*Used in the about page*/
figure {
  float: right;
  width: 20%;
  text-align: center;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
  border: thin silver solid;
  margin: 0.25em;
  padding: 0.25em;
}

/*These are for the cart form*/
.viewCart {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  padding-left: 18rem;
}
.customOrders {
  font-weight: 600;
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.formCustomSize {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0.75rem;
}
#customOrderR2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 3rem;
}
.customDimensions {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}
.dimension {
  margin-bottom: 2rem;
}
.dimension input[type="text"] {
  width: 0px;
  height: 10px;
}
.radioh1 {
  font-weight: 500;
  font-size: 1.25rem;
}
/*Last of the cart form*/

.motto {
  font-family: "Anton", sans-serif;
  padding: 0.75em;
  margin-bottom: 0px;
}
#aboutLastParagraph {
  padding-bottom: 4em;
}
.aboutPage {
  display: flex;
}

.aboutBack {
  border: 2px solid black;
  border-radius: 15px;
  box-sizing: border-box;
  font-family: Roobert, BlinkMacSystemFont, "Segoe UI", Helvetica;
  font-size: 16px;
  font-weight: 600;
  padding: 1em 1.5em;
  text-align: center;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  height: 10%;
}
.aboutBack:disabled {
  pointer-events: none;
}
.aboutBack:hover {
  color: #fff;
  background-color: #1a1a1a;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}
.aboutBack:active {
  box-shadow: none;
  transform: translateY(0);
}
/*Last rules for about page*/

/*Credits Page*/
main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
/* Style the container for the credits content */
.creditsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: antiquewhite;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 90%;
  height: 90%;
}
/* Style the credits content */
.creditsContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* Style the creators title */
.creators {
  font-size: 3rem;
  margin-bottom: 20px;
}
/* Style the secondary creators title */
.creators2 {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 20px;
}
/* Style the creators list */
.creators3 {
  font-size: 1.2rem;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 20px;
}
/* Style the back button */
.creditsBack {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.creditsContainer {
  display: flex;
  flex-direction: row;
}
.creditsBack {
  border: 2px solid black;
  border-radius: 15px;
  box-sizing: border-box;
  font-family: Roobert, BlinkMacSystemFont, "Segoe UI", Helvetica;
  font-size: 16px;
  font-weight: 600;
  padding: 1em 1.5em;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  touch-action: manipulation;
  height: 10%;
  max-width: 30%;
  margin-left: 20%;
}
.creditsBack:disabled {
  pointer-events: none;
}
.creditsBack:hover {
  color: #fff;
  background-color: #1a1a1a;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}
.creditsBack:active {
  box-shadow: none;
  transform: translateY(0);
}
/*Last of credits page*/

/*Add/sub button's */
.addsub {
  background-color: rgb(176, 136, 83);
  font-size: 0.75em;
  font-weight: bold;
  max-height: 4em;
  max-width: 4rem;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;
  line-height: 1.1em;
}
.addsubContainer {
  display: flex;
}

.grid.grid-cols-1.md:grid-cols-2.xl:grid-cols-3.gap-4 {
  overflow-y: scroll;
}

/*Background of the left side/navigation panel*/
.h-screen.bg-slate-800.p-3 {
  background-color: rgb(176, 136, 83);
}
/*Usde in the background of the product images*/
.w-full {
  background-color: burlywood;
  width: 80%;
}
.text-white {
  font-size: 2em;
}
/*Makes the spacing tighter on the left hand side*/
.py-10 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

/*Used for Filter by product and Browse Products*/
.text-3xl.mb-2.font-bold.text-white {
  color: rgb(220, 221, 255);
  font-size: 3em;
}
/*Names of authors*/
.text-gray-700.text-white {
  font-size: 1em;
}
/*Background of images*/
.category-section.fixed {
  background-color: burlywood;
}
